 .wrapper {
     width: 100%;
     height: 1000px;
     /* background-image: url('https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3302&q=80'); */
     background-image: url('https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2848&q=80');
     background-position: center;
     border: 1px solid red;
     display: flex;
     flex-direction: column;
 }

.title{
    width: 900px;
    height: 200px;
    /* border: 1px solid yellow; */
    margin: auto auto;
    /* background-image: url('https://www.logolynx.com/images/logolynx/96/967ea5e4598462a301b53eb8b10ecfad.png'); */
    background-image: url('https://www.logolynx.com/images/logolynx/81/812485da0e4d9405b6e113bf6db8a235.png');
    background-position: center;
    background-size: cover;
}

.main {
    /* width: 50%;
    height: 80%; */
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: auto auto;

}

#start {
    border-radius: 10px;
    height: 60px;
    width: 100%;
    margin: 25px 0;
    font-family: cursive;
    font-size: 30px;
    font-weight: 900;
}



 
 #canvas {
     border: 1px solid black;
     background-color: black;
 }

