 body {
     margin: 0;
 }
 .wrapper {
     width: 100%;
     /* height: 1000px; */
     height: 100%;
     /* background-image: url('https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3302&q=80'); */
     background-image: url('https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2848&q=80');
     background-position: center;
     /* border: 1px solid red; */
     display: flex;
     flex-direction: column;
 }

.title{
    width: 800px;
    height: 180px;
    /* border: 1px solid yellow; */
    margin: 0px auto 0px auto;
    /* background-image: url('https://www.logolynx.com/images/logolynx/96/967ea5e4598462a301b53eb8b10ecfad.png'); */
    background-image: url('https://www.logolynx.com/images/logolynx/81/812485da0e4d9405b6e113bf6db8a235.png');
    background-position: center;
    background-size: cover;
}

.main {
    /* width: 50%;
    height: 80%; */
    /* border: 1px solid yellow; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    /* position: sticky; */

}

#start {
    border-radius: 10px;
    border: 4px solid white;
    color: white;
    height: 60px;
    width: 100%;
    margin: 10px 0;
    font-family: cursive;
    font-size: 30px;
    font-weight: 900;
    background-color: red;
}



 
 #canvas {
     border: 1px solid black;
     background-color: black;
 }


#pregame {
    width: 575px;
    height: 665px;
    /* border: 1px solid green; */
    position: absolute;
    display: none;
    /* background-color: red; */
    /* opacity: 0.1; */
    background-image: url('https://cdn.dribbble.com/users/368620/screenshots/2097058/pacman.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instructions {
    width: 70%;
    height: 80%;
    left: 200px;
    border: 1px solid white;
    position: absolute;
    left: -80%;
    bottom: 10%;
    font-size: 20px;
    background-color: rgb(124, 1, 1);
    color: rgb(207, 207, 207);
    border: 10px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.instructions-writing {
    text-align: center;
    color: black;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px; */
}

.instructions-writing h3 {
    color: white;
    text-align: left;
}

.instructions-writing h3:last-child {
    color: white;
    text-align: center;
}

.instructions-arrows {
     /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Arrow_keys.svg/1280px-Arrow_keys.svg.png); */
     /* background-image: url(https://geekhack.org/index.php?action=dlattach;topic=35143.0;attach=3050;image); */
     background-image: url(https://images.vexels.com/media/users/3/153198/isolated/preview/c19d67f7ca060b53e6040a10b5edd2b5-keyboard-arrow-keys-icon-by-vexels.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
     height: 60%;
}

#gameover {
    width: 575px;
    height: 665px;
    /* border: 1px solid green; */
    position: absolute;
    display: none;
    /* background-color: red; */
    /* opacity: 0.1; */
    /* background-image: url('https://cdn.dribbble.com/users/368620/screenshots/2097058/pacman.gif'); */
    background-image: url('https://art-u3.infcdn.net/articles_uploads/2/2044/pac-man-game-over.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.end-text {
    text-align: center;
    color: white;
    font-family: fantasy;
}